[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=F-Spot Photo Album
Name[cs]=Album fotografií F-Spot
Name[da]=F-Spot - fotoalbum
Name[de]=F-Spot Fotoalbum
Name[el]=Άλμπουμ φωτογραφιών F-Spot
Name[en_CA]=F-Spot Photo Album
Name[en_GB]=F-Spot Photo Album
Name[es]=Álbum de fotos F-Spot
Name[eu]=F-Spot argazki-albuma
Name[hu]=F-Spot fotóalbum
Name[it]=Album di foto di F-Spot
Name[ja]=F-Spot フォト・アルバム
Name[nl]=F-Spot fotoalbum
Name[pl]=Album fotograficzny F-Spot
Name[zh_CN]=F-Spot 相册
GenericName=Photo Album
GenericName[cs]=Album fotografií
GenericName[da]=Fotoalbum
GenericName[de]=Fotoalbum
GenericName[el]=Φωτογραφικό άλμπουμ
GenericName[en_CA]=Photo Album
GenericName[en_GB]=Photo Album
GenericName[es]=Álbum de fotos
GenericName[eu]=Argazki-albuma
GenericName[hu]=Fotóalbum
GenericName[it]=Album di foto
GenericName[ja]=フォト・アルバム
GenericName[nl]=Fotoalbum
GenericName[pl]=Album fotograficzny
GenericName[zh_CN]=相册
Exec=f-spot
Icon=f-spot-logo
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Graphics;Photograph;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.0.13
X-SuSE-translate=true
