[Desktop Entry]
Version=1.0
Name=F-Spot Photo Manager
Name[ar]=مدير الصور إف-سبوت
Name[as]=F-Spot ফটো মেনেজাৰ
Name[be@latin]=Kiraŭnik zdymkaŭ F-Spot
Name[ca]=Gestor fotogràfic F-Spot
Name[cs]=Správce fotografií F-Spot
Name[da]=F-Spot fotohåndtering
Name[de]=F-Spot Fotoverwaltung
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་ དཔར་འཛིན་སྐྱོང་པ་
Name[el]=Διαχειριστής εικόνων f-spot
Name[en_CA]=F-Spot Photo Manager
Name[en_GB]=F-Spot Photo Manager
Name[es]=Gestor de fotos F-Spot
Name[et]=F-Spot fotoalbum
Name[eu]=F-Spot argazki-kudeatzailea
Name[fa]=مدیر عکس اِف‌-اِسپات
Name[fi]=F-Spot - valokuvien hallinta
Name[fr]=Gestionnaire de photos F-Spot
Name[gl]=Xestor de fotos F-Spot
Name[gu]=F-Spot ફોટો વ્યવસ્થાપક
Name[he]=מנהל התמונות F-Spot
Name[hi]=एफ़ स्पॉट फोटो प्रबंधक
Name[hu]=F-Spot fotókezelő
Name[it]=F-Spot - Gestore di fotografie
Name[ja]=F-Spot 写真マネージャ
Name[ka]=F-სპოტ ფოტო მენეჯერი
Name[kn]=F-Spot ಫೋಟೋ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=F-Spot 사진 관리자
Name[lt]=Fotografijų tvarkymo programa F-Spot
Name[lv]=F-Spot bilžu menedžeris
Name[mk]=F-Spot Менаџер за слики
Name[mr]=F-Spot फोटो व्यवस्थापक
Name[nb]=F-Spot bildebehandling
Name[nl]=F-Spot fotobeheer
Name[pa]=F-ਸਪੋਟ ਫੋਟੋ ਮੈਨੇਜਰ
Name[pl]=Menedżer zdjęć F-Spot
Name[pt]=Gestor de Fotografias do F-Spot
Name[pt_BR]=Gerenciador de fotos F-Spot
Name[ru]=Управление фотографиями в F-Spot
Name[sk]=Správca fotiek F-Spot
Name[sr]=Ф-број фото албум
Name[sr@latin]=F-broj foto album
Name[sv]=Fotohanteraren F-Spot
Name[ta]=F-Spot நிழற்பட மேலாளர்
Name[th]=F-Spot: โปรแกรมจัดการรูปถ่าย
Name[uk]=Керування фотографіями у F-Spot
Name[vi]=Bộ Quản Lý Ảnh Chụp F-Spot
Name[zh_CN]=F-Spot 照片管理器
Name[zh_HK]=F-Spot 相片管理員
Name[zh_TW]=F-Spot 相片管理員
GenericName=Photo Manager
GenericName[ar]=مدير الصور
GenericName[as]=ফটো মেনেজাৰ
GenericName[be@latin]=Kiraŭnik zdymkaŭ
GenericName[ca]=Gestor fotogràfic
GenericName[cs]=Správce fotografií
GenericName[da]=Fotohåndtering
GenericName[de]=Fotoverwaltung
GenericName[dz]=དཔར་འཛིན་སྐྱོང་པ་
GenericName[el]=Διαχειριστής εικόνων
GenericName[en_CA]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotografías
GenericName[et]=Fotode haldaja
GenericName[eu]=Argazki-kudeatzailea
GenericName[fa]=مدیر عکس
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[gl]=Xestor de fotos
GenericName[gu]=ફોટો વ્યવસ્થાપક
GenericName[he]=מנהל תמונות
GenericName[hi]=फोटो प्रबंधक
GenericName[hu]=Fényképkezelő
GenericName[it]=Gestore di fotografie
GenericName[ja]=写真マネージャ
GenericName[ka]=ფოტო მენეჯერი
GenericName[kn]=ಫೋಟೊ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=사진 관리자
GenericName[lt]=Fotografijų tvarkymo programa
GenericName[lv]=Bilžu menedžeris
GenericName[mk]=Менаџер за слики
GenericName[mr]=फोटो व्यवस्थापक
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheer
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotografias
GenericName[pt_BR]=Gerenciador de fotos
GenericName[ru]=Управление фотографиями
GenericName[sk]=Správca fotiek
GenericName[sr]=Фото албум
GenericName[sr@latin]=Foto album
GenericName[sv]=Fotohanterare
GenericName[ta]=நிழற்பட மேலாளர்
GenericName[th]=โปรแกรมจัดการรูปถ่าย
GenericName[uk]=Керування фотографіями
GenericName[vi]=Bộ Quản Lý Ảnh Chụp
GenericName[zh_CN]=照片管理器
GenericName[zh_HK]=相片管理員
GenericName[zh_TW]=相片管理員
Comment=Import into F-Spot
Comment[ar]=استيراد إلى إف-سبوت
Comment[as]=F-Spot লৈ আমদানি কৰক
Comment[ca]=Importa a l'F-Spot
Comment[cs]=Importovat do F-Spot
Comment[da]=Importér til F-Spot
Comment[de]=In F-Spot importieren
Comment[el]=Εισαγωγή στο F-Spot
Comment[en_GB]=Import into F-Spot
Comment[es]=Importar en F-Spot
Comment[et]=Impordi F-Spot'i
Comment[eu]=Inportatu 'F-Spot'-era
Comment[fi]=Tuo F-Spotiin
Comment[fr]=Importer dans F-Spot
Comment[gl]=Importar a F-Spot
Comment[gu]=F-Spot માં આયાત કરો
Comment[he]=ייבוא לתוך F-Spot
Comment[hi]=F-Spot में लाएँ
Comment[hu]=Importálás az F-Spotba
Comment[it]=Importa in F-Spot
Comment[ja]=F-Spot にインポート
Comment[kn]=F-Spot ಗೆ ಆಮದು ಮಾಡಿಕೊಳ್ಳಿ
Comment[lt]=Importuoti į F-Spot
Comment[mk]=Увези во F-Spot
Comment[mr]=F-Spot अंतर्गत आयात करा
Comment[nb]=Importer til F-Spot
Comment[pl]=Importowanie do programu F-Spot
Comment[pt]=Importar para o F-Spot
Comment[pt_BR]=Importar para o F-Spot
Comment[ru]=Импортировать в F-Spot
Comment[sk]=Importovať do F-Spot
Comment[sr]=Увези у Ф-број
Comment[sr@latin]=Uvezi u F-broj
Comment[sv]=Importera till F-Spot
Comment[ta]=F-Spotல் இறக்கவும்
Comment[uk]=Імпортувати до F-Spot
Comment[zh_CN]=导入到 F-Spot
Comment[zh_HK]=匯入至 F-Spot
Comment[zh_TW]=匯入至 F-Spot
NoDisplay=true
Exec=f-spot-import %u
Icon=f-spot
MimeType=x-content/image-dcf;x-content/image-picturecd;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.6.0.0
X-GNOME-DocPath=f-spot/f-spot.xml
