Package: f-spot
Version: 0.0.13-0ubuntu1
Section: gnome
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.2.ds1-4), libjpeg62, libsqlite0 (>= 2.8.15), libgphoto2-2 (>= 2.1.4), libexif10 (>= 0.5.1)
Installed-Size: 1736
Maintainer: Ondřej Surý <ondrej@debian.org>
Description: personal photo management application
 F-Spot is meant to be an easy-to-use photo management
 application.  It allows for importing of your existing
 photo collections, tagging photos with identifiers,
 as well as doing simple edits of photos (e.g. rotating).
 .
 This application is still in its early stage of development.
