Source: f-spot
Section: gnome
Priority: optional
Maintainer: Debian CLI Applications Team <pkg-cli-apps-team@lists.alioth.debian.org>
Uploaders: Mirco Bauer <meebey@debian.org>, Iain Lane <laney@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50),
 cli-common-dev (>= 0.5.7),
 quilt (>= 0.46-7~),
 mono-devel (>= 2.4.2.3),
 libgtk2.0-dev (>= 2.14),
 libgtk2.0-cil (>= 2.12.2),
 gtk-sharp2-gapi,
 libgnome2-dev (>= 2.2),
 libgtkhtml3.16-cil (>= 2.20),
 libmono-sqlite2.0-cil,
 libmono-system-runtime2.0-cil,
 libmono-cairo2.0-cil (>= 1.2.4),
 libcairo2-dev (>= 1.4.0),
 libmono-addins0.2-cil (>= 0.4),
 libmono-addins-gui0.2-cil (>= 0.4),
 libndesk-dbus1.0-cil (>= 0.4.2),
 libndesk-dbus-glib1.0-cil (>= 0.3.0),
 libgnome2.24-cil (>= 2.8),
 libgconf2.0-cil (>= 2.12.2),
 libgnome-vfs2.0-cil (>= 2.12.2),
 libglade2.0-cil (>= 2.12.2),
 libflickrnet-cil-dev,
 libgnome-keyring1.0-cil,
 liblcms1-dev,
 libgnomeui-dev (>= 2.2),
 libexif-dev (>= 0.5.7),
 libexif-dev (<< 0.7.0),
 libgphoto2-2-dev (>= 2.1.4),
 libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev,
 libglitz1-dev,
 libglitz-glx1-dev,
 gnome-screensaver,
 gnome-doc-utils (>= 0.3.2),
 docbook-xml,
 intltool,
 libtool,
 autoconf,
 automake1.10
Standards-Version: 3.8.3
Homepage: http://www.f-spot.org/
Vcs-Git: git://git.debian.org/git/pkg-cli-apps/packages/f-spot.git
Vcs-Browser: http://git.debian.org/?p=pkg-cli-apps/packages/f-spot.git

Package: f-spot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}, dbus, gvfs-bin
Recommends: dcraw, dbus-x11
Description: personal photo management application
 F-Spot is a full-featured personal photo management application for the
 GNOME desktop. It simplifies digital photography by providing intuitive
 tools to help you share, touch-up, find and organize your images.
 It allows for importing of your existing photo collections, tagging photos
 with identifiers, as well as doing simple edits of photos (e.g. rotating).
