#! /usr/bin/make -f

export MONO_SHARED_DIR=$(CURDIR)
export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/dpatch.mk
# needed to use the dpatch tools (like dpatch-edit-patch)
include /usr/share/dpatch/dpatch.make

export DEB_DH_MAKESHLIBS_ARGS="-n"

DEB_CONFIGURE_EXTRA_FLAGS := --disable-scrollkeeper

CFLAGS := -Wall -g

# Ensure at build time that the library has no dependencies on undefined
# symbols.
LDFLAGS += -Wl,-z,defs

# Speed up loading.
LDFLAGS += -Wl,-O1

common-configure-indep::
	mkdir -p $(MONO_SHARED_DIR)/.wapi

binary-predeb/f-spot::
	dh_clideps -d 

binary-install/f-spot::
	rm $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.a $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.la $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.so

clean::
	rm -rf $(MONO_SHARED_DIR)/.wapi
