#! /usr/bin/make -f

include /usr/share/cli-common/cli.make

VERSION = $(shell dpkg-parsechangelog | grep ^Vers | cut -d\  -f2)
UPVERSION = $(shell echo $(VERSION) | sed 's,-.*,,' | sed 's,+dfsg.*,,') 

# robbed from tomboy
autoreconf: autoreconf-stamp
autoreconf-stamp:
	autoreconf -f -i -s
	# replace ltmain.sh with our patched one that supports --as-needed
	install --mode=755 $(CURDIR)/debian/ltmain-as-needed.sh $(CURDIR)/ltmain.sh
	touch $@

override_dh_clean:
	dh_clean
	rm -rf autoreconf-stamp configure config.sub config.guess ltmain.sh aclocal.m4 autom4te.cache/ po/*.pot
	find . -name "Makefile.in" -delete

override_dh_auto_configure: autoreconf-stamp
	dh_auto_configure -- \
		--disable-scrollkeeper \
		LDFLAGS="-Wl,-z,defs -Wl,-O1 -Wl,--as-needed" \
		MCS=/usr/bin/mono-csc

override_dh_install:
	rm -f $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.a \
	   $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.la \
	   $(CURDIR)/debian/f-spot/usr/lib/f-spot/*.so
	dh_install
	cd po; intltool-update --pot

# disable tests
override_dh_auto_test:

# libs aren't ours to ship
override_dh_makeclilibs:

get-orig-source:
	uscan \
		--force-download \
		--download-version $(UPVERSION) \
		--rename \
		--destdir .

%:
	dh --with quilt $@
